* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to top left, #28b487, rgb(19, 236, 19));
  height: 100vh;
  position: relative;
  text-transform: capitalize;
}
.main-div {
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  padding-bottom: 1rem;
}

.button {
  padding: 1rem 2rem;
  margin: 0.5rem;
  border-radius: 1.5rem;
  border: none;
  text-align: center;
  background-color: white;
  color: black;
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: bold;
}
.button:hover {
  box-shadow: 12px 12px 12px 0 rgba(0, 0, 0, 0.63);
  transition: 0.5s;
}
.modal.lock {
  display: none;
}
.modal {
  display: flex;
  flex-direction: column;
  align-items: left;
  background: gainsboro;
  width: 70%;
  padding: 2rem;
  margin: 0 auto;
  z-index: 10;
  line-height: 1.5rem;
}
.modal h1 {
  padding-bottom: 0.5rem;
}
.close {
  padding: 0.4rem;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  width: 1rem;
}
@media screen and (max-width: 400px) {
  body {
    /* max-width: 100%;
    max-height: 100%; */
    font-size: 0.7rem;
  }
  .button {
    padding: 0.7rem;
    margin: 0.5;
  }
  .modal {
    padding: 0.5rem;
    display: flex;
    line-height: 1rem;
  }
}
